* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
.navbar {
  width: 100dvw;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.title {
  font-family: monospace;
  background-color: #00cc69;
}

.container{
    background-color: #0088cc;
    width: 100dvw;
}

.area{
    width: 100%;
    height: 600px;
    background-color: #00cc69;
}

.card{
    width: 40%;
    background: #e4e4e4;
    border: 1px #3333 solid;
    margin: 10px;
}

/* menunjuk setiap child card yang ganjil */
.area .card:nth-child(even){
    background-color: #0088cc;
}

.area .card:last-child{
    background-color: #bb0000;
}

.card:hover{
    background-color: #bb0000;
    color: #e4e4e4;
}

.card p{
    color: #0088cc;
    text-align: justify;
    line-height: 30px;
}

.klik {
    text-decoration: none;
}

.card-red{
    background-color: #bb0000;
}

.text-white{
    color: #f4f4f4;
}


.fourth-card{
    background-color: #eeff00;
}



div > .red{
    color: #bb0000;
}

.container-baru{
    width: 100dvw;
    height: 100dvh;
    /* background-image: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg") no-repeat center;
    background-size: cover;
}

.container-tepi{
    width: 100dvw;
    height: 100dvh;
}

.card-tepi{
    width: 30%;
    height: 100px;
    background-color: #0088cc;
    margin: 20px;
}

.area-tepi .card-tepi:first-child{
    border: 4px #222222 solid;
}

.area-tepi .card-tepi:nth-child(2){
    border-radius: 1000px;
}

.area-tepi .card-tepi:last-child{
    box-shadow: #22222280 5px 5px 20px;
}



